# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/llibrary/
/saves/
/TombManyGraves/
/screenshots/
/mods/
/world/
/config/enderio/recipes/examples
**/*.pdf

# Utilities
.github_changelog_generator
github_changelog_generator.gemspec
twitch_export-win.exe
ChangelogGenerator.bat
.build.json
modpack_upload_settings.cfg
ModpackUploadTool.bat

# Client Configs
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini
zs_export.json
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
options.txt
README.md
crafttweaker.log
github_changelog_generator.gemspec
ChangelogGenerator.bat
twitch_export-win.exe
crafttweaker.log
config/BlockDrops/modVersions.txt
config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourceProperty.txt
dropt.log
journeymapdefaults.firstrun
*.zip
astralsorcery/gatewayFilter/worldFilter.dat
OpenComputersMod-1.7.3.146-lua53-native.64.dll
OpenComputersMod-1.7.3.146-lua52-native.64.dll
ModpackFileId.json
LICENSE.md
manifest.json
config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
valkyrielib/cache/supporters.json
discordsuite/win32-x86-64/discord-rpc.dll
discordsuite/version
ServerFileGenerator.bat
config/brandon3055/ResourceCache/
whitelist.json
ops.json
minecraft_server.1.12.2.jar
installer.log
forge-1.12.2-14.23.5.2781-universal.jar
forge-1.12.2-14.23.5.2781-installer.jar
eula.txt
banned-players.json
banned-ips.json
ChangelogGenerator.jar

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
config/brandon3055/ProjectIntelligence/ModDocs/
patchouli_data.json
oldmanifest.json
config/AppliedEnergistics2/items.csv
OpenComputersMod-1.7.4.153-lua53-native.64.dll
OpenComputersMod-1.7.4.153-lua52-native.64.dll
ModpackUploader.ps1
ModpackUploader.bat
twitch-export-builder.exe
settings.ps1
TwitchExportBuilder.exe
CHANGELOG-GENERATED.md
MakeModpackFiles.bat
MakeModpackFiles.ps1
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/astralsorcery/amulet_enchantments.cfg
config/brandon3055/contributors.json
config/brandon3055/Custom Fusion Recipe Info.txt
icon.png
config/splash.properties
config/splash.properties
config/TinkerToolLeveling.cfg
config/splash.properties
config/rftools/dimlets.json
config/opencomputers/peaceful.recipes
config/opencomputers/hardmode.recipes
config/opencomputers/gregtech.recipes
config/opencomputers/default.recipes
config/IC2.ini
config/enderio/painter_paint_sources_core.xml
config/brandon3055/ProjectIntelligence/projectintelligence.xml
config/brandon3055/ProjectIntelligence/GuiStyle/DefaultPresets/vanilla.json
config/brandon3055/ProjectIntelligence/GuiStyle/DefaultPresets/darcula.json
config/biomesoplenty/biomes/defaults/vanilla/taiga_hills.json
config/biomesoplenty/biomes/defaults/vanilla/taiga_cold_hills.json
config/biomesoplenty/biomes/defaults/vanilla/taiga_cold.json
config/biomesoplenty/biomes/defaults/vanilla/taiga.json
config/biomesoplenty/biomes/defaults/vanilla/swampland.json
config/biomesoplenty/biomes/defaults/vanilla/sky.json
config/biomesoplenty/biomes/defaults/vanilla/savanna_rock.json
config/biomesoplenty/biomes/defaults/vanilla/savanna.json
config/biomesoplenty/biomes/defaults/vanilla/roofed_forest.json
config/biomesoplenty/biomes/defaults/vanilla/redwood_taiga_hills.json
config/biomesoplenty/biomes/defaults/vanilla/redwood_taiga.json
config/biomesoplenty/biomes/defaults/vanilla/plains.json
config/biomesoplenty/biomes/defaults/vanilla/ocean.json
config/biomesoplenty/biomes/defaults/vanilla/mutated_forest.json
config/biomesoplenty/biomes/defaults/vanilla/mushroom_island.json
config/biomesoplenty/biomes/defaults/vanilla/mesa_clear_rock.json
config/biomesoplenty/biomes/defaults/vanilla/mesa.json
config/biomesoplenty/biomes/defaults/vanilla/jungle_hills.json
config/biomesoplenty/biomes/defaults/vanilla/jungle.json
config/biomesoplenty/biomes/defaults/vanilla/ice_mountains.json
config/biomesoplenty/biomes/defaults/vanilla/ice_flats.json
config/biomesoplenty/biomes/defaults/vanilla/hell.json
config/biomesoplenty/biomes/defaults/vanilla/forest_hills.json
config/biomesoplenty/biomes/defaults/vanilla/forest.json
config/biomesoplenty/biomes/defaults/vanilla/extreme_hills_with_trees.json
config/biomesoplenty/biomes/defaults/vanilla/extreme_hills.json
config/biomesoplenty/biomes/defaults/vanilla/desert_hills.json
config/biomesoplenty/biomes/defaults/vanilla/desert.json
config/biomesoplenty/biomes/defaults/vanilla/birch_forest_hills.json
config/biomesoplenty/biomes/defaults/vanilla/birch_forest.json
config/biomesoplenty/biomes/defaults/vanilla/beaches.json
config/biomesoplenty/biomes/defaults/biomesoplenty/xeric_shrubland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/woodland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/white_beach.json
config/biomesoplenty/biomes/defaults/biomesoplenty/wetland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/wasteland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/volcanic_island.json
config/biomesoplenty/biomes/defaults/biomesoplenty/visceral_heap.json
config/biomesoplenty/biomes/defaults/biomesoplenty/undergarden.json
config/biomesoplenty/biomes/defaults/biomesoplenty/tundra.json
config/biomesoplenty/biomes/defaults/biomesoplenty/tropical_rainforest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/tropical_island.json
config/biomesoplenty/biomes/defaults/biomesoplenty/temperate_rainforest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/steppe.json
config/biomesoplenty/biomes/defaults/biomesoplenty/snowy_tundra.json
config/biomesoplenty/biomes/defaults/biomesoplenty/snowy_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/snowy_coniferous_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/shrubland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/shield.json
config/biomesoplenty/biomes/defaults/biomesoplenty/seasonal_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/sacred_springs.json
config/biomesoplenty/biomes/defaults/biomesoplenty/redwood_forest_edge.json
config/biomesoplenty/biomes/defaults/biomesoplenty/redwood_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/rainforest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/quagmire.json
config/biomesoplenty/biomes/defaults/biomesoplenty/prairie.json
config/biomesoplenty/biomes/defaults/biomesoplenty/phantasmagoric_inferno.json
config/biomesoplenty/biomes/defaults/biomesoplenty/pasture.json
config/biomesoplenty/biomes/defaults/biomesoplenty/overgrown_cliffs.json
config/biomesoplenty/biomes/defaults/biomesoplenty/outback.json
config/biomesoplenty/biomes/defaults/biomesoplenty/origin_island.json
config/biomesoplenty/biomes/defaults/biomesoplenty/origin_beach.json
config/biomesoplenty/biomes/defaults/biomesoplenty/orchard.json
config/biomesoplenty/biomes/defaults/biomesoplenty/ominous_woods.json
config/biomesoplenty/biomes/defaults/biomesoplenty/oasis.json
config/biomesoplenty/biomes/defaults/biomesoplenty/mystic_grove.json
config/biomesoplenty/biomes/defaults/biomesoplenty/mountain_foothills.json
config/biomesoplenty/biomes/defaults/biomesoplenty/mountain.json
config/biomesoplenty/biomes/defaults/biomesoplenty/moor.json
config/biomesoplenty/biomes/defaults/biomesoplenty/meadow.json
config/biomesoplenty/biomes/defaults/biomesoplenty/marsh.json
config/biomesoplenty/biomes/defaults/biomesoplenty/maple_woods.json
config/biomesoplenty/biomes/defaults/biomesoplenty/mangrove.json
config/biomesoplenty/biomes/defaults/biomesoplenty/lush_swamp.json
config/biomesoplenty/biomes/defaults/biomesoplenty/lush_desert.json
config/biomesoplenty/biomes/defaults/biomesoplenty/lavender_fields.json
config/biomesoplenty/biomes/defaults/biomesoplenty/land_of_lakes.json
config/biomesoplenty/biomes/defaults/biomesoplenty/kelp_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/highland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/grove.json
config/biomesoplenty/biomes/defaults/biomesoplenty/gravel_beach.json
config/biomesoplenty/biomes/defaults/biomesoplenty/grassland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/glacier.json
config/biomesoplenty/biomes/defaults/biomesoplenty/fungi_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/flower_island.json
config/biomesoplenty/biomes/defaults/biomesoplenty/flower_field.json
config/biomesoplenty/biomes/defaults/biomesoplenty/fen.json
config/biomesoplenty/biomes/defaults/biomesoplenty/eucalyptus_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/dead_swamp.json
config/biomesoplenty/biomes/defaults/biomesoplenty/dead_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/crag.json
config/biomesoplenty/biomes/defaults/biomesoplenty/corrupted_sands.json
config/biomesoplenty/biomes/defaults/biomesoplenty/coral_reef.json
config/biomesoplenty/biomes/defaults/biomesoplenty/coniferous_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/cold_desert.json
config/biomesoplenty/biomes/defaults/biomesoplenty/cherry_blossom_grove.json
config/biomesoplenty/biomes/defaults/biomesoplenty/chaparral.json
config/biomesoplenty/biomes/defaults/biomesoplenty/brushland.json
config/biomesoplenty/biomes/defaults/biomesoplenty/boreal_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/bog.json
config/biomesoplenty/biomes/defaults/biomesoplenty/bayou.json
config/biomesoplenty/biomes/defaults/biomesoplenty/bamboo_forest.json
config/biomesoplenty/biomes/defaults/biomesoplenty/alps_foothills.json
config/biomesoplenty/biomes/defaults/biomesoplenty/alps.json
config/biomesoplenty/biome_ids.json
config/acronym/saved/saved_sub_blocks_contenttweaker.json
config/acronym/saved/material_parts_contenttweaker.json
